Body
{
background-image:url('pg.png');
font-family:Veranda;
color:grey;


} /* end of body */


H1 /* sets the properties for every h1 heading */
{
font-family:Veranda;
color:grey;
font-size:38pt;
} 